.details-card .card {
    box-shadow: 5px 5px 10px #b9b5b5;
    color: var(--text);
    height: 400px;
    width: 900px;
    display: grid;
    grid-template-columns: 250px calc(900px - 250px);
    cursor: pointer;
}

.card .card-img img {
    height: 400px;
    width: 250px;
}

.card .card-welcome .welcome-style {
    width: 120px;
    height: 120px;
    background-color: var(--secondary);
}

.card .card-welcome .welcome-style p {
    height: inherit;
    font-size: 20px;
}

.card .card-info {
  padding: 10px 15px;
}

.card .card-info .card-title h3 {
  letter-spacing: 2px;
  color: var(--text);
}

.card .card-info .card-title p {
  font-size: 18px;
  letter-spacing: 2px;
}

.card .card-info .card-title span {
  font-style: italic;
  color: var(--primary-dark);
  letter-spacing: 0;
}

.card .card-info .info-boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card .card-info .info-boxs .box {
  background-color: var(--secondary);
  padding: 15px;
  height: 180px;
}

.card .card-info .info-boxs .box h4 {
  letter-spacing: 2px;
  font-size: 22px;
}

.card .card-info .info-boxs .box .box-data {
  display: flex;
  gap: 2px;
  margin-top: 10px;
}

.card .card-info .info-boxs .box .box-data span {
  background-color: var(--primary);
  width: fit-content;
  padding: 5px;
  font-size: 14px;
  height: fit-content;
}

.card .card-info .info-boxs .box .box-data .category {
  font-style: italic;
}

.card .card-info .audio {
    margin-top: 30px;
}

@media (max-width: 991.98px) {
  .details-card .card {
      width: 380px;
      height: fit-content;
      display: block;
      padding: 10px;
  }

  .details-card .card .card-img {
    display: none;
  }

  .details-card .card .card-welcome {
    display: none;
  }

  .details-card .card .card-info {
    padding: 0;
  }
  
  .details-card .card .card-info .info-boxs {
      display: flex;
      flex-direction: column;
  }

  .details-card .card .card-info .info-boxs .box {
    background-color: transparent;
    height: fit-content;
    padding: 0 5px 10px 5px;
    border-radius: 0 !important;
    border-bottom: 2px dashed var(--secondary);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .details-card .card {
    width: 700px;
    display: block;
  }

  .details-card .card .card-img {
    display: none;
  }

  .details-card .card .card-welcome {
    display: none;
  }
}