.dashboard {
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    .dashboard-logout {
      box-shadow: 5px 5px 10px #b9b5b5;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
  }
  .logout-msg {
    background-color: var(--sidebar-bg);
    position: absolute;
    top: 60px;
    right: 10px;
    width: 150px;
    height: 100px;
    z-index: 10000;
    padding: 10px;
    .msg {
      text-align: center;
      p {
        border-bottom: 1px solid white;
        cursor: pointer;
      }
    }
  }
  .dashboard-counts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    .dash-card {
      gap: 20px;
      box-shadow: 5px 5px 10px #b9b5b5;
      padding: 15px 0;
      .card-icon {
        background-color: var(--primary);
        padding: 15px 25px;
        font-size: 25px;
      }
      .card-info {
        h3 {
          font-weight: bold;
          font-size: 35px;
        }
        p {
          font-size: 22px;
        }
      }
    }
  }
  .dashboard-carts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin: 60px 0;
    .last-books {
      box-shadow: 5px 5px 10px #b9b5b5;
      padding: 20px;
      h3 {
        padding-bottom: 10px;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        overflow: hidden;
        thead {
          background-color: #1f2937;
        }
        th,
        td {
          padding: 1rem;
          text-align: left;
        }
        tbody tr {
          border-bottom: 1px solid #e5e7eb;
        }
        tbody tr:nth-child(even) {
          background-color: #f3f4f6;
        }
        tbody tr:hover {
          background-color: #e0f2fe;
        }
        th {
          font-weight: 600;
          text-transform: uppercase;
          font-size: 0.9rem;
        }
      }
    }
    .books-category {
      box-shadow: 5px 5px 10px #b9b5b5;
    }
  }
}

.dash-card,
.table tr:hover {
  transform: translateY(-2px);
  transition: 0.3s ease;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

@media (max-width: 991.98px) {
  .dashboard {
    .dashboard-header {
      padding: 0 20px;
    }
    /* .logout-msg {
      top: 60px;
    } */
    .dashboard-counts {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      margin: 40px 20px;
    }
    .dashboard-carts {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      margin: 0 20px;
    }
  }
}
