.dashboard {
  padding-bottom: 10px;
}

.dashboard .dashboard-header {
  padding-left: 260px;
  position: fixed;
  top: 10px;
  left: 0;
  z-index: 50;
}

.dashboard-header .dashboard-user {
  box-shadow: 5px 5px 10px #b9b5b5;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.dashboard .dashboard-statistics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin: 60px 0;
}

.dashboard-statistics .books-category {
  box-shadow: 5px 5px 10px #b9b5b5;
}

.dash-card {
  transform: translateY(-2px);
  transition: 0.3s ease;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

@media (max-width: 991.98px) {
    .dashboard {
      padding-bottom: 5px;
    }

    .dashboard .dashboard-header {
      padding-left: 10px;
      padding-right: 10px;
      top: 100px;
    }

    .dashboard-statistics {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      margin: 0 20px;
    }
}
