.header-card {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 20px 0 0 260px;
}

@media (max-width: 991.98px) {
  .header-card {
    top: 10px;
    padding: 100px 20px 0 20px;
  }
}
