:root {
  --main-bg: #1f2937;
  --hover-bg: #374151;
  --active-color: #facc15;
  --text-color: #ffffff;
  --hover-text: #facc15;
  --font: "Poppins", sans-serif;
  --primary: #4338ca;
  --primary-hover: #4f46e5;
  --primary-dark: #4f46e5;
  --secondary: #facc15;
  --background: #f9fafb;
  --text: #1f2937;
  --text-muted: #6b7280;
  --sidebar-bg: #111827;
  --sidebar-hover: #374151;
  --border-color: #e5e7eb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.active-foucs {
  display: none;
}

.center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-center {
  height: 100vh;
}

.form-style {
  width: 600px;
  margin: auto;
  padding: 2rem;
  border-radius: 12px;
}

.form-style form {
  padding: 20px;
  box-shadow: 5px 5px 10px #b9b5b5;
}

.form-style label {
  font-weight: bold;
}

.current-image {
  padding: 10px 0;
}

.current-image h3 {
  color: #333;
}

.current-image img {
  width: 150px;
  height: 200px;
}

@media (max-width: 991.98px) {
  .form-center {
    height: calc(100vh  - 90px);
  }
  .form-style {
    width: fit-content;
  }
}