.title-card-root {
  top: 0;
  left: 260px;
  right: 0;
  padding-top: 15px;
}

.title-card-root .title-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-card-content .btn {
  transition: background 0.3s;
}

.title-card-content .btn a {
  font-size: 15px;
  letter-spacing: 2px;
  background-color: var(--primary);
}

.title-card-content .btn a:hover {
  background-color: var(--primary-hover);
}

@media (max-width: 991.98px) {
  .title-card-root {
    top: 90px;
    left: 0;
  }

  .title-card-root .title-card-content {
    padding: 0 10px;
  }

  .title-card-content .title h2 {
    font-size: 23px !important;
  }
}
