.carousel-container {
  max-width: 400px;
  margin: auto;
  height: 300px;
  background: var(--primary);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-container .carousel-item {
  margin-right: 50px;
}

.carousel-container .carousel-item img {
  max-height: 200px;
}

.carousel-container .carousel-item h3 {
  margin-top: 10px;
  font-size: 18px;
}
