.loading-card  .loading-content {
    background-color: var(--primary);
    width: 900px;
    height: 400px;
}

.loading-content .loading-style {
    width: 50px;
    height: 50px;
    border: 6px solid transparent;
    border-top: 6px solid red;
    animation: spin 1s linear infinite, glow 1.5s ease-in-out infinite;
    filter: hue-rotate(0deg);
}

.loading-content h4 {
    margin-top: 50px;
}

@media (max-width: 991.98px) {
   .loading-card  .loading-content{
      width: 380px;
  }

  .loading-content h4 {
      font-size: 18px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .loading-card .loading-content {
        width: 700px;
    }
}