.loading-btn .loading-style {
  width: 25px;
  height: 25px;
  border: 4px solid transparent;
  border-top: 6px solid red;
  animation:
    spin 1s linear infinite,
    glow 1.5s ease-in-out infinite;
  filter: hue-rotate(0deg);
}
