.loading {
  background-color: var(--primary);
  height: 100vh;
}

.loading h4 {
  margin-top: 40px;
}

.loading .loading-chart {
  width: 50px;
  height: 50px;
  border: 6px solid transparent;
  border-top: 6px solid red;
  animation:
    spin 1s linear infinite,
    glow 1.5s ease-in-out infinite;
  filter: hue-rotate(0deg);
}

@media (max-width: 991.98px) {
  .loading {
    margin-left: 0;
    height: calc(100vh - 90px);
  }

  .loading h4 {
    font-size: 18px;
    margin-top: 35px;
  }

  .loading .loading-chart {
    width: 40px;
    height: 40px;
  }
}
