.header-content .nav-links {
    background-color: var(--sidebar-bg);
}

.nav-links li {
    margin-bottom: 20px;
}

.nav-links .link {
    gap: 16px;
    font-size: 16px;
    padding: 12px 20px;
    color: #d1d5db;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.nav-links .link:hover {
    background-color: var(--sidebar-hover);
    color: var(--text-color);
}

.nav-links .link:hover i {
    color: var(--text-color);
}

.nav-links .active {
    background-color: var(--sidebar-hover);
    color: var(--text-color);
}

.nav-links .active i {
    color: var(--active-color);
}
