header {
  width: 250px;
  height: 100vh;
  background-color: var(--sidebar-bg);
  padding: 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
}

header .logo {
    gap: 10px;
    margin: 30px 0;
}

.logo img {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-bottom: 5px;
}

.logo .menu-bars {
    cursor: pointer;
}

@media (max-width: 991.98px) {
  header {
    width: 100%;
    z-index: 1000;
    height: fit-content;
    padding: 0 15px;
  }

  header .logo {
    justify-content: space-between;
    margin: 20px 0;
  }

  header .logo img {
    margin-bottom: 0;
  }

  header .logo h2 {
    display: none;
  }

  header .logo .menu-bars {
    display: block;
  }

  header .nav-links {
    border-top: 2px solid var(--text-color);
    padding-top: 20px;
    height: 100vh;
  }
}

@media (min-width: 992px) {
  header .logo .menu-bars {
    display: none;
  }
}