.login {
  height: 100vh;
  overflow: hidden;
  .background {
    background-image: url("../../assets/images/background-app.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  .overlay {
    background-color: rgb(0 0 0 / 70%);
    z-index: 1;
  }
  .form-wrapper {
    transform: translate(-50%, -50%);
    z-index: 2;
    background: var(--main-bg);
    padding: 40px 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    .form-header img {
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      h3 {
        margin-bottom: 10px;
        color: #333;
        font-size: 25px;
      }
      label {
        font-weight: 500;
        font-size: 0.95rem;
        color: var(--text-color);
        font-size: 18px;
      }
      input {
        padding: 10px 12px;
        border: 1px solid #ccc;
        font-size: 1rem;
      }
      input:focus {
        outline: none;
      }
      button {
        padding: 10px;
        border: none;
        color: #333;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.2s ease;
        font-size: 18px;
      }
      button:hover {
        background-color: var(--primary-dark) !important;
        color: white;
        transition: 0.3s;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .login {
    .form-wrapper {
      padding: 30px 20px;
      width: 85%;
      .form-header {
        img {
          width: 90px;
          height: 90px;
        }
      }
      h3 {
        font-size: 1.3rem;
      }
      input,
      button {
        font-size: 1rem;
      }
    }
  }
}
