.bg-wrapper {
  position: absolute;
  inset: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 70%);
  z-index: 1;
}

.login .form-wrapper {
  transform: translate(-50%, -50%);
  z-index: 2;
  background: var(--main-bg);
  padding: 40px 30px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.form-wrapper .form-header img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.form-wrapper form {
  gap: 15px;
}

.form-wrapper form h3 {
  margin-bottom: 10px;
  color: #333;
  font-size: 25px;
}

.form-wrapper form label {
  font-weight: 500;
  font-size: 0.95rem;
  color: var(--text-color);
  font-size: 18px;
}

.form-wrapper form input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.form-wrapper form input:focus {
  outline: none;
}

.form-wrapper form button {
  padding: 10px;
  border: none;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 18px;
}

.form-wrapper form button:hover {
  background-color: var(--primary-dark) !important;
  color: white;
  transition: 0.3s;
}

@media (max-width: 767.98px) {
  .login .form-wrapper {
    padding: 30px 20px;
    width: 85%;
  }

  .form-wrapper .form-header img {
    width: 90px;
    height: 90px;
  }

  .form-wrapper h3 {
    font-size: 1.3rem;
  }

  .form-wrapper input,
  .form-wrapper button {
        font-size: 1rem;
  }
}
