.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  margin: 150px 0 50px 0;
}

.cards .card {
  box-shadow: 5px 5px 10px #b9b5b5;
}

.cards .card .card-img img {
  height: auto;
  aspect-ratio: 6 / 8;
}

.cards .card .card-name {
  font-size: 22px;
}

.cards .card .popular-books p {
  letter-spacing: 2px;
  font-size: 18px;
  margin-bottom: 20px;
}

.cards .card .popular-books .popular {
  margin-bottom: 25px;
  background-color: var(--primary);
  padding: 8px 0;
}

.cards .card .popular-books .popular:hover {
  background-color: var(--primary-dark);
  transition: 0.3s;
}

@media (max-width: 767.98px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    padding: 10px 40px 40px 40px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 10px 40px 40px 40px;
  }
}

@media (max-width: 991.98px) {
  .cards .card .card-name {
    font-size: 18px;
  }

  .cards .card .popular-books p {
    font-size: 16px;
  }
}
