.danger-msg {
  height: calc(100vh - 30px);
}

.danger-msg .msg p {
  letter-spacing: 2px;
}

@media (max-width: 991.98px) {
  .danger-msg {
    height: calc(100vh - 170px);
  }

  .danger-msg .msg p {
    font-size: 18px !important;
  }
}