.error-message {
  height: 100vh;
}

.error-message p {
  letter-spacing: 2px;
}

@media (max-width: 991.98px) {
  .error-message {
    height: calc(100vh - 90px);
  }

  .error-message p {
    font-size: 18px !important;
  }
}