.not-found {
  height: calc(100vh - 50px);
}

.not-found p {
    font-size: 22px;
}

@media (max-width: 991.98px) {
    .not-found {
        height: calc(100vh - 170px);
    }
    .not-found p {
        font-size: 20px; 
    }
}