.layout {
  display: flex;
  height: 100vh;
}

.layout .content {
  flex: 1;
  padding: 0 20px;
  margin-left: 260px;
}

@media (max-width: 991.98px) {
  .layout .content {
    padding: 0;
    margin: 90px 0 0 0;
  }
}
