.dashboard-layout {
  display: flex;
  height: 100vh;
}

.dashboard-layout .content {
  flex: 1;
  padding:  0 20px;
}

@media (max-width: 991.98px) {
  .dashboard-layout .content {
    padding: 0 10px;
  }
}

@media(min-width: 992px) {
  .dashboard-layout .content {
    margin-left: 250px;
  }
}

